.floatingText{
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    font-size: 50px;
    justify-content: center;
}

.text{
    position: relative;
}
.a1{
    animation: textfloat 1s 0.5s;
}
.a2{
    animation: textfloat 1s 0.6s ;
}
.a3{
    animation: textfloat 1s 0.7s ;
}
.a4{
    animation: textfloat 1s 0.8s ;
}
.a5{
    animation: textfloat 1s 0.9s ;
}


.a7{
    animation: textfloat 1s 1.1s ;
}
.a8{
    animation: textfloat 1s 1.2s ;
}
.a9{
    animation: textfloat 1s 1.3s ;
}
.a10{
    animation: textfloat 1s 1.4s ;
}



@keyframes textfloat {
    0%{
        top: 0px;
    }
    50%{
        top:10px;
    }
    100%{
        top:0px;
    }
}
@keyframes opaque {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes wide {
    from{
        margin-left:0px;
    }
    to{
        margin-left: 30px;
    }
}
